In [2]:
import pandas as pd

male_df = pd.read_csv('male.csv')
male_df.head()

,subjectid,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,Branch,PrimaryMOS,SubjectsBirthLocation,SubjectNumericRace,Ethnicity,DODRace,Age,Heightin,Weightlbs,WritingPreference
0,10027,266,1467,337,222,1347,253,202,401,369,...,Combat Arms,19D,North Dakota,1,NaN,1,41,71,180,Right hand
1,10032,233,1395,326,220,1293,245,193,394,338,...,Combat Support,68W,New York,1,NaN,1,35,68,160,Left hand
2,10033,287,1430,341,230,1327,256,196,427,408,...,Combat Support,68W,New York,2,NaN,2,42,68,205,Left hand
3,10092,234,1347,310,230,1239,262,199,401,359,...,Combat Service Support,88M,Wisconsin,1,NaN,1,31,66,175,Right hand
4,10093,250,1585,372,247,1478,267,224,435,356,...,Combat Service Support,92G,North Carolina,2,NaN,2,21,77,213,Right hand

In [3]:
male_data = male_df[['stature', 'weightkg', 'chestcircumference', 'waistcircumference', 'buttockcircumference']]
male_data.insert(5, column ="tshirt_size", value="-")
male_data.insert(5, column ="pants_size", value="-")
male_data.insert(6, column="tshirt_colour", value="-")
male_data.insert(6, column="pants_colour", value="-")

male_df['weightkg'] = male_df['weightkg'].multiply(0.1)
male_df['stature'] = male_df['stature'].multiply(0.1)

In [4]:
tshirt_size = []
tshirt_colour = []
for chest, waist in zip(male_data['chestcircumference'], male_data['waistcircumference']):
    if chest < 880:
        if waist >= 760:
            tshirt_size.append('Small')
            tshirt_colour.append('Blue')
        else:
            tshirt_size.append('X-Small')
            tshirt_colour.append('Yellow')
    elif chest < 960:
        if waist >= 840:
            tshirt_size.append('Medium')
            tshirt_colour.append('Red')
        else:
            tshirt_size.append('Small')
            tshirt_colour.append('Blue')
    elif chest < 1040:
        if waist >= 920:
            tshirt_size.append('Large')
            tshirt_colour.append('Orange')
        else:
            tshirt_size.append('Medium')
            tshirt_colour.append('Red')
    elif chest < 1120:
        if waist >= 1000:
            tshirt_size.append('X-Large')
            tshirt_colour.append('Black')
        else:
            tshirt_size.append('Large')
            tshirt_colour.append('Orange')
    elif chest < 1200:
        if waist >= 1080:
            tshirt_size.append('XX-Large')
            tshirt_colour.append('Pink')
        else:
            tshirt_size.append('X-Large')
            tshirt_colour.append('Black')
    elif chest < 1240:
        if waist >= 1120:
            tshirt_size.append('XXX-Large')
            tshirt_colour.append('Brown')
        else:
            tshirt_size.append('XX-Large')
            tshirt_colour.append('Pink')
    elif chest >= 1240:
        tshirt_size.append('XXX-Large')
        tshirt_colour.append('Brown')

male_data['tshirt_size'] = tshirt_size
male_data['tshirt_colour'] = tshirt_colour
male_data.head()

C:\Users\stoff\AppData\Local\Temp\ipykernel_25068\3992551472.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_data['tshirt_size'] = tshirt_size
C:\Users\stoff\AppData\Local\Temp\ipykernel_25068\3992551472.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_data['tshirt_colour'] = tshirt_colour

,stature,weightkg,chestcircumference,waistcircumference,buttockcircumference,pants_size,pants_colour,tshirt_colour,tshirt_size
0,1776,815,1074,933,979,-,-,Orange,Large
1,1702,726,1021,870,944,-,-,Red,Medium
2,1735,929,1120,964,1054,-,-,Black,X-Large
3,1655,794,1114,857,991,-,-,Orange,Large
4,1914,946,1048,868,1029,-,-,Orange,Large

In [5]:
male_tshirt_cleaned = male_df[['stature', 'weightkg', 'chestcircumference', 'waistcircumference', 'buttockcircumference']]

In [6]:
male_tshirt_cleaned.head()

,stature,weightkg,chestcircumference,waistcircumference,buttockcircumference
0,177.6,81.5,1074,933,979
1,170.2,72.6,1021,870,944
2,173.5,92.9,1120,964,1054
3,165.5,79.4,1114,857,991
4,191.4,94.6,1048,868,1029

In [7]:
male_tshirt_cleaned.to_csv('male_tshirt_cleaned.csv')

In [8]:
pants_size = []
pants_colour = []
for butt, waist in zip(male_data['buttockcircumference'], male_data['waistcircumference']):
    if butt < 950:
        if waist >= 800:
            pants_size.append('Small')
            pants_colour.append('Blue')
        else:
            pants_size.append('X-Small')
            pants_colour.append('Yellow')
    elif butt < 1040:
        if waist >= 880:
            pants_size.append('Medium')
            pants_colour.append('Red')
        else:
            pants_size.append('Small')
            pants_colour.append('Blue')
    elif butt < 1070:
        if waist >= 920:
            pants_size.append('Large')
            pants_colour.append('Orange')
        else:
            pants_size.append('Medium')
            pants_colour.append('Red')
    elif butt < 1130:
        if waist >= 1020:
            pants_size.append('X-Large')
            pants_colour.append('Black')
        else:
            pants_size.append('Large')
            pants_colour.append('Orange')
    elif butt < 1180:
        if waist >=1070:
            pants_size.append('XX-Large')
            pants_colour.append('Pink')
        else:
            pants_size.append('X-Large')
            pants_colour.append('Black')
    elif butt < 1220:
        if waist >= 1170:
            pants_size.append('XXX-Large')
            pants_colour.append('Brown')
        else:
            pants_size.append('XX-Large')
            pants_colour.append('Pink')
    elif butt < 1280:
        if waist >= 1220:
            pants_size.append('XXXX-Large')
            pants_colour.append('Purple')
        else:
            pants_size.append('XXX-Large')
            pants_colour.append('Brown')
    elif butt >= 1280:
        pants_size.append('XXXX-Large')
        pants_colour.append('Purple')

male_data['pants_size'] = pants_size
male_data['pants_colour'] = pants_colour
male_data

C:\Users\stoff\AppData\Local\Temp\ipykernel_25068\1115227854.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_data['pants_size'] = pants_size
C:\Users\stoff\AppData\Local\Temp\ipykernel_25068\1115227854.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_data['pants_colour'] = pants_colour

,stature,weightkg,chestcircumference,waistcircumference,buttockcircumference,pants_size,pants_colour,tshirt_colour,tshirt_size
0,1776,815,1074,933,979,Medium,Red,Orange,Large
1,1702,726,1021,870,944,Small,Blue,Red,Medium
2,1735,929,1120,964,1054,Large,Orange,Black,X-Large
3,1655,794,1114,857,991,Small,Blue,Orange,Large
4,1914,946,1048,868,1029,Small,Blue,Orange,Large
...,...,...,...,...,...,...,...,...,...
4077,1688,675,954,816,917,Small,Blue,Blue,Small
4078,1765,896,1072,978,1049,Large,Orange,Orange,Large
4079,1690,832,1045,991,1038,Medium,Red,Orange,Large
4080,1718,731,984,783,929,X-Small,Yellow,Red,Medium
4081,1828,985,1144,1080,1009,Medium,Red,Pink,XX-Large

In [9]:
male_pants_cleaned = male_df[['stature', 'weightkg', 'waistcircumference', 'buttockcircumference']]

In [10]:
male_pants_cleaned.head()

   stature  weightkg  waistcircumference  buttockcircumference
0    177.6      81.5                 933                   979
1    170.2      72.6                 870                   944
2    173.5      92.9                 964                  1054
3    165.5      79.4                 857                   991
4    191.4      94.6                 868                  1029

In [11]:
male_pants_cleaned.to_csv('male_pants_cleaned.csv')

In [12]:
import math

my_length = 1810
my_weight = 680
closest = []

for length, weight in zip(male_data['stature'], male_data['weightkg']):
    delta_y = abs(my_length) - abs(length)
    delta_x = abs(my_weight) - abs(weight)
    hypo = delta_y**2 + delta_x**2
    closest.append(math.sqrt(hypo))

male_data['closest'] = closest

C:\Users\stoff\AppData\Local\Temp\ipykernel_25068\1118126180.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_data['closest'] = closest

In [13]:
male_data.sort_values(by=['closest'])

,stature,weightkg,chestcircumference,waistcircumference,buttockcircumference,pants_size,pants_colour,tshirt_colour,tshirt_size,closest
2921,1807,673,946,800,928,Small,Blue,Blue,Small,7.615773
2294,1802,676,922,787,918,X-Small,Yellow,Blue,Small,8.944272
3495,1806,690,938,780,937,X-Small,Yellow,Blue,Small,10.770330
2646,1821,682,920,740,911,X-Small,Yellow,Blue,Small,11.180340
2995,1819,673,931,754,922,X-Small,Yellow,Blue,Small,11.401754
...,...,...,...,...,...,...,...,...,...,...
3718,1885,1375,1276,1300,1268,XXXX-Large,Purple,Brown,XXX-Large,699.035049
55,1840,1400,1469,1379,1265,XXXX-Large,Purple,Brown,XXX-Large,720.624729
118,1846,1413,1358,1330,1234,XXXX-Large,Purple,Brown,XXX-Large,733.883506
1444,1867,1429,1372,1300,1242,XXXX-Large,Purple,Brown,XXX-Large,751.165761
2974,1910,1442,1279,1328,1293,XXXX-Large,Purple,Brown,XXX-Large,768.533669